@font-face {
    font-family: "pbmit_vizaa";
    src: url("pbmit_vizaa12cd.woff2?b2124298bc0de5019ec9b0423e3497f0") format("woff2"),
url("pbmit_vizaa12cd.woff?b2124298bc0de5019ec9b0423e3497f0") format("woff"),
url("pbmit_vizaa12cd.eot?b2124298bc0de5019ec9b0423e3497f0#iefix") format("embedded-opentype"),
url("pbmit_vizaa12cd.ttf?b2124298bc0de5019ec9b0423e3497f0") format("truetype"),
url("pbmit_vizaa12cd.svg?b2124298bc0de5019ec9b0423e3497f0#pbmit_vizaa") format("svg");
font-display: swap; 
}

i[class^="pbmit_vizaa-"]:before, i[class*=" pbmit-vizaa-icon-"]:before {
    font-family: pbmit_vizaa !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pbmit-vizaa-icon-white-flag:before {
    content: "\f101";
}
.pbmit-vizaa-icon-solo-traveller:before {
    content: "\f102";
}
.pbmit-vizaa-icon-student:before {
    content: "\f103";
}
.pbmit-vizaa-icon-briefcase:before {
    content: "\f104";
}
.pbmit-vizaa-icon-family:before {
    content: "\f105";
}
.pbmit-vizaa-icon-nomad-visa:before {
    content: "\f106";
}
.pbmit-vizaa-icon-nomad-visa-1:before {
    content: "\f107";
}
.pbmit-vizaa-icon-passport:before {
    content: "\f108";
}
.pbmit-vizaa-icon-flags:before {
    content: "\f109";
}
.pbmit-vizaa-icon-tshirt:before {
    content: "\f10a";
}
.pbmit-vizaa-icon-passport-1:before {
    content: "\f10b";
}
.pbmit-vizaa-icon-passport-2:before {
    content: "\f10c";
}
.pbmit-vizaa-icon-nomad-visa-2:before {
    content: "\f10d";
}
.pbmit-vizaa-icon-stamp:before {
    content: "\f10e";
}
.pbmit-vizaa-icon-nomad-visa-3:before {
    content: "\f10f";
}
.pbmit-vizaa-icon-visa:before {
    content: "\f110";
}
.pbmit-vizaa-icon-world:before {
    content: "\f111";
}
.pbmit-vizaa-icon-tourist:before {
    content: "\f112";
}
.pbmit-vizaa-icon-job:before {
    content: "\f113";
}
.pbmit-vizaa-icon-arrival:before {
    content: "\f114";
}
.pbmit-vizaa-icon-journalist:before {
    content: "\f115";
}
.pbmit-vizaa-icon-job-1:before {
    content: "\f116";
}
.pbmit-vizaa-icon-travel:before {
    content: "\f117";
}
.pbmit-vizaa-icon-rejected:before {
    content: "\f118";
}
.pbmit-vizaa-icon-immigration:before {
    content: "\f119";
}
.pbmit-vizaa-icon-marriage:before {
    content: "\f11a";
}
.pbmit-vizaa-icon-student-visa:before {
    content: "\f11b";
}
.pbmit-vizaa-icon-graduation:before {
    content: "\f11c";
}
.pbmit-vizaa-icon-online-class:before {
    content: "\f11d";
}
.pbmit-vizaa-icon-meeting:before {
    content: "\f11e";
}
.pbmit-vizaa-icon-instruct:before {
    content: "\f11f";
}
.pbmit-vizaa-icon-training:before {
    content: "\f120";
}
.pbmit-vizaa-icon-diploma:before {
    content: "\f121";
}
.pbmit-vizaa-icon-webinar:before {
    content: "\f122";
}
.pbmit-vizaa-icon-webinar-1:before {
    content: "\f123";
}
.pbmit-vizaa-icon-global-education:before {
    content: "\f124";
}
.pbmit-vizaa-icon-nomad-visa-4:before {
    content: "\f125";
}
.pbmit-vizaa-icon-nomad-visa-5:before {
    content: "\f126";
}
.pbmit-vizaa-icon-visa-1:before {
    content: "\f127";
}
.pbmit-vizaa-icon-visa-2:before {
    content: "\f128";
}
.pbmit-vizaa-icon-alert:before {
    content: "\f129";
}
.pbmit-vizaa-icon-national-gallery:before {
    content: "\f12a";
}
.pbmit-vizaa-icon-registration:before {
    content: "\f12b";
}
.pbmit-vizaa-icon-online-order:before {
    content: "\f12c";
}
.pbmit-vizaa-icon-online-consultation:before {
    content: "\f12d";
}
.pbmit-vizaa-icon-flight-attendant:before {
    content: "\f12e";
}
.pbmit-vizaa-icon-customs-officer:before {
    content: "\f12f";
}
.pbmit-vizaa-icon-trolley:before {
    content: "\f130";
}
.pbmit-vizaa-icon-briefcase-1:before {
    content: "\f131";
}
.pbmit-vizaa-icon-travel-1:before {
    content: "\f132";
}
.pbmit-vizaa-icon-hot-air-balloon:before {
    content: "\f133";
}
.pbmit-vizaa-icon-passport-3:before {
    content: "\f134";
}
.pbmit-vizaa-icon-nomad-visa-6:before {
    content: "\f135";
}
.pbmit-vizaa-icon-nomad-visa-7:before {
    content: "\f136";
}
.pbmit-vizaa-icon-suitcase:before {
    content: "\f137";
}
.pbmit-vizaa-icon-worldwide:before {
    content: "\f138";
}
.pbmit-vizaa-icon-telegram:before {
    content: "\f139";
}
.pbmit-vizaa-icon-phone:before {
    content: "\f13a";
}
.pbmit-vizaa-icon-planet-earth:before {
    content: "\f13b";
}
.pbmit-vizaa-icon-immigration-law:before {
    content: "\f13c";
}
.pbmit-vizaa-icon-online-class-1:before {
    content: "\f13d";
}
.pbmit-vizaa-icon-online-course:before {
    content: "\f13e";
}
.pbmit-vizaa-icon-social-media:before {
    content: "\f13f";
}
.pbmit-vizaa-icon-location-point:before {
    content: "\f140";
}
.pbmit-vizaa-icon-alarm:before {
    content: "\f141";
}
.pbmit-vizaa-icon-email:before {
    content: "\f142";
}
.pbmit-vizaa-icon-package:before {
    content: "\f143";
}
.pbmit-vizaa-icon-phone-ringing:before {
    content: "\f144";
}
.pbmit-vizaa-icon-straight-quotes:before {
    content: "\f145";
}
.pbmit-vizaa-icon-black-plane:before {
    content: "\f146";
}
.pbmit-vizaa-icon-clock:before {
    content: "\f147";
}

